.lampa{
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
}
.jatekM{
    width: 160px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    margin: auto;
    margin-top: 20px;
}
header{
    text-align: center;
}
footer{
    text-align: center;
}